.homepage {
  padding: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: white;
  margin-top: -65px;

  @media (max-width: 1024px) {
    padding: 30px;
  }

  @media (max-width: 768px) {
    padding: 25px;
  }

  @media (max-width: 480px) {
    padding: 20px;
  }

  @media (max-width: 342px) {
    padding: 15px;
  }
}

form {
  width: 90%; /* Ajustado para que ocupe el 90% del ancho */
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 40px rgba(255, 0, 255, 0.7);
  backdrop-filter: blur(10px);
  font-size: 1.9em;
  margin: 0 auto;

  /* Centrado vertical */
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  @media (max-width: 1024px) {
    padding: 25px;
    font-size: 1.7em;
    width: 60%;
    margin-top: 50px;
  }

  @media (max-width: 768px) {
    padding: 20px;
    font-size: 1.5em;
    width: 60%;
    margin-top: 45px;
  }

  @media (max-width: 480px) {
    padding: 15px;
    font-size: 1.3em;
    width: 60%;
    margin-top: 45px;
  }

  @media (max-width: 342px) {
    padding: 12px;
    font-size: 1.1em;
    width: 60%;
    margin-top: 45px;
  }

  .ia-button {
    margin: 50px 10px 0 10px;
    font-size: 1.3em;
    background-color: rgba(0, 255, 255, 0.8);
    color: white;
    border: none;
    padding: 10px 25px;
    border-radius: 5px;
    cursor: none;
    text-shadow: 0 0 10px rgba(255, 0, 255, 1);
    box-shadow: 0 0 15px rgba(0, 255, 255, 1);
    transition: 0.3s;

    @media (max-width: 1024px) {
      font-size: 1.2em;
      padding: 8px 20px;
    }

    @media (max-width: 768px) {
      font-size: 1.1em;
      padding: 8px 15px;
      margin-top: 35px;
    }

    @media (max-width: 420px) {
      font-size: 1em;
      padding: 6px 12px;
      margin-top: 25px;
      margin-bottom: 10px;
    }
  }

  button:hover {
    background-color: rgba(255, 0, 255, 1);
    box-shadow: 0 0 25px rgba(255, 0, 255, 1);
    transform: scale(1.1);
  }

  button:active {
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
    transform: scale(0.95);
  }
}

.input-player {
  display: flex;
  flex-direction: column;
  gap: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  border-radius: 8px;

  @media (max-width: 1024px) {
    gap: 25px;
  }

  @media (max-width: 768px) {
    gap: 20px;
  }

  @media (max-width: 480px) {
    gap: 15px;
  }

  @media (max-width: 342px) {
    gap: 10px;
  }
}

.label {
  margin-right: 20px;
  margin-left: 20px;
  color: #ffffff;
  font-weight: bold;

  @media (max-width: 1024px) {
    font-size: 0.95em;
  }

  @media (max-width: 768px) {
    font-size: 0.9em;
  }

  @media (max-width: 342px) {
    font-size: 0.85em;
  }
}

input {
  height: 50px;
  text-align: center;
  font-family: "Oxanium", serif;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  font-size: 1em;
  width: 100%;

  @media (max-width: 1024px) {
    font-size: 0.95em;
  }

  @media (max-width: 768px) {
    font-size: 0.9em;
  }

  @media (max-width: 342px) {
    font-size: 0.85em;
    height: 40px;
  }
}

#player1 {
  width: 100%;

  @media (max-width: 768px) {
    width: 80%;
  }

  @media (max-width: 342px) {
    width: 80%;
  }
}

input[type="text"] {
  width: 100%; /* Ajuste dinámico al 100% */
  max-width: 700px;

  @media (max-width: 1024px) {
    width: 80%;
  }

  @media (max-width: 342px) {
    width: 60%;
  }
}

input:focus {
  outline: none;
  box-shadow: 0 0 15px rgba(255, 0, 255, 1);
}

button {
  margin-top: 50px;
  font-size: 1.3em;
  background-color: rgba(0, 255, 255, 0.8);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: none;
  text-shadow: 0 0 10px rgba(255, 0, 255, 1);
  box-shadow: 0 0 15px rgba(0, 255, 255, 1);
  transition: 0.3s;

  @media (max-width: 1024px) {
    font-size: 1.2em;
    padding: 8px 20px;
  }

  @media (max-width: 768px) {
    font-size: 1.1em;
    padding: 8px 15px;
  }

  @media (max-width: 342px) {
    font-size: 1em;
    padding: 6px 12px;
  }
}

.difficulty-select {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;

  @media (max-width: 768px) {
    margin-top: 0px;
  }

  label {
    font-size: 1em;

    @media (max-width: 700px) {
      margin-bottom: 35px;
    }
  }

  .difficulty-buttons {
    display: flex;
    justify-content: space-around;
    gap: 25px;
    margin-top: -15px;

    @media (max-width: 1024px) {
      display: flex;
      flex-direction: column;
      gap: 0;
      margin-top: -30px;
    }
  }

  .difficulty-button {
    padding: 10px 20px;
    font-size: 0.7em;
    border: 2px solid rgba(255, 0, 255, 0.6);
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0.6);
    color: white;
    cursor: none;
    text-shadow: 0 0 5px rgba(255, 0, 255, 1);
    box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
    transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;

    @media (max-width: 1024px) {
      font-size: 0.8em;
    }

    @media (max-width: 450px) {
      font-size: 0.7em;
      padding: 8px 16px;
      margin-top: 20px;
    }

    @media (max-width: 380px) {
      font-size: 0.7em;
      padding: 8px 16px;
      margin-top: 12px;
    }

    &:hover {
      transform: scale(1.1);
      background-color: rgba(255, 0, 255, 0.8);
      box-shadow: 0 0 20px rgba(255, 0, 255, 1);
    }

    &.selected {
      background-color: rgba(255, 0, 255, 1);
      box-shadow: 0 0 10px rgba(255, 0, 255, 1), 0 0 30px rgba(255, 0, 255, 0.8);
      border-color: rgba(255, 255, 255, 1);
      transform: scale(1.2);
    }
  }
}
