body {
  margin: 0;
  font-family: "Oxanium", serif;
  background: black;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  position: relative;
}

.app {
  text-align: center;
  width: 800px;
  background: transparent;
}

.audio-player {
  position: absolute;
  right: 50px; /* Distancia desde el margen derecho */
  top: 20px; /* Distancia desde el margen inferior */
  z-index: 10; /* Asegúrate de que esté sobre otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  button {
    background: transparent;
    border: none;
    cursor: none;
    font-size: 25px;
    color: white;
    height: 60px;

    svg {
      display: flex;
      align-items: center;
    }
  }
}

//Cursor
* {
  cursor: none; /* Elimina el cursor por defecto */
}
.cursor-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw; /* Asegura que el contenedor ocupe toda la pantalla */
  height: 100vh; /* Asegura que el contenedor ocupe toda la pantalla */
  pointer-events: none; /* No interfiere con otros elementos */
  z-index: 9999; /* Asegura que el rastro esté por encima de otros elementos */
  overflow: hidden; /* Asegura que los rastros no se salgan del área visible */
}

.cursor-neon {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-color: rgba(0, 255, 255, 0.7); /* Color del rastro */
  pointer-events: none;
  transform: translate(-50%, -50%);
  box-shadow: 0 0 15px rgba(0, 255, 255, 1);
  animation: fadeOut 0.3s ease-out forwards; /* Efecto de desvanecimiento */
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: scale(1);
  }
  100% {
    opacity: 0;
    transform: scale(0.5);
  }
}

.home-player {
  position: absolute;
  left: 50px; /* Distancia desde el margen derecho */
  top: 20px; /* Distancia desde el margen inferior */
  z-index: 10; /* Asegúrate de que esté sobre otros elementos */
  display: flex;
  justify-content: center;
  align-items: center;
  height: auto;

  button {
    background: transparent;
    border: none;
    cursor: none;
    font-size: 30px;
    color: white;
    height: 60px;

    svg {
      display: flex;
      align-items: center;
    }
  }
}
