/* Contenedor principal */
.goal-animation-container {
  position: absolute;
  width: 50%;
  height: 100%;
  overflow: hidden;
  z-index: 999;
}

/* Texto animado */
.goal-animation {
  position: absolute;
  top: 46.5%;
  left: 42.4%;
  transform: translate(-50%, -50%);
  color: #ff007f;
  font-size: 1.23em;
  font-weight: bold;
  text-shadow: 0 0 20px #00d4ff, 0 0 30px #00d4ff, 0 0 40px #00d4ff,
    0 0 50px #ff007f, 0 0 50px #ff007f;
  z-index: 9999;
}

.goal-animation.start {
  animation: fadeBlink 3s ease-in-out infinite;
}

.goal-animation.end {
  opacity: 0;
}

/* Animación del texto */
@keyframes fadeBlink {
  0%,
  100% {
    opacity: 0;
    transform: translate(-50%, -60%);
  }
  50% {
    opacity: 1;
    transform: translate(-50%, -50%);
  }
}
