/* Estilos para .local-menu */
.local-menu {
  padding: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  color: white;
  text-align: center;
  margin-top: -65px;
}

@media (max-width: 1024px) {
  .local-menu {
    padding: 30px;
    margin-top: -300px;
  }
}

@media (max-width: 768px) {
  .local-menu {
    padding: 25px;
    margin-top: -300px;
  }
}

@media (max-width: 480px) {
  .local-menu {
    padding: 20px;
    margin-top: -300px;
  }
}

@media (max-width: 342px) {
  .local-menu {
    padding: 15px;
    margin-top: -300px;
  }
}

/* Estilos para .local-menu-form */
.local-menu-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 25px 30px;
  border-radius: 10px;
  box-shadow: 0 0 20px rgba(0, 255, 255, 0.7), 0 0 40px rgba(255, 0, 255, 0.7);
  backdrop-filter: blur(8px);
}

@media (max-width: 1024px) {
  .local-menu-form {
    padding: 20px 25px;
  }
}

@media (max-width: 768px) {
  .local-menu-form {
    padding: 15px 20px;
  }
}

@media (max-width: 480px) {
  .local-menu-form {
    padding: 12px 15px;
  }
}

/* Estilos para .local-menu-player */
.local-menu-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 20px;
  gap: 15px;
}

@media (max-width: 768px) {
  .local-menu-player {
    gap: 10px;
  }
}

@media (max-width: 480px) {
  .local-menu-player {
    gap: 5px;
  }
}

/* Estilos para .local-menu-label */
.local-menu-label {
  font-size: 1em;
  color: white;
  margin-bottom: 10px;
  text-shadow: 0 0 10px rgba(0, 255, 255, 0.6);
}

@media (max-width: 768px) {
  .local-menu-label {
    font-size: 0.9em;
  }
}

@media (max-width: 480px) {
  .local-menu-label {
    font-size: 0.85em;
  }
}

/* Estilos para .local-menu-input */
.local-menu-input {
  width: 350px;
  height: 40px;
  text-align: center;
  font-family: "Oxanium", sans-serif;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  font-size: 1.1em;
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .local-menu-input {
    width: 300px;
    font-size: 1em;
  }
}

@media (max-width: 768px) {
  .local-menu-input {
    width: 250px;
    font-size: 0.95em;
  }
}

@media (max-width: 480px) {
  .local-menu-input {
    width: 200px;
    font-size: 0.9em;
  }
}

@media (max-width: 342px) {
  .local-menu-input {
    width: 180px;
    font-size: 0.85em;
  }
}

/* Estilos para .local-menu-color */
.local-menu-color {
  width: 60px;
  height: 40px;
  border: none;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.5);
  margin-bottom: 15px;
}

@media (max-width: 1024px) {
  .local-menu-color {
    width: 50px;
    height: 35px;
  }
}

@media (max-width: 768px) {
  .local-menu-color {
    width: 45px;
    height: 30px;
  }
}

@media (max-width: 480px) {
  .local-menu-color {
    width: 40px;
    height: 25px;
  }
}

/* Estilos para .local-menu-button */
.local-menu-button {
  margin: 50px 10px 0 10px;
  font-size: 1.3em;
  background-color: rgba(0, 255, 255, 0.8);
  color: white;
  border: none;
  padding: 10px 25px;
  border-radius: 5px;
  cursor: none;
  text-shadow: 0 0 10px rgba(255, 0, 255, 1);
  box-shadow: 0 0 15px rgba(0, 255, 255, 1);
  transition: 0.3s;

  @media (max-width: 1024px) {
    font-size: 1.2em;
    padding: 8px 20px;
  }

  @media (max-width: 768px) {
    font-size: 1.1em;
    padding: 8px 15px;
    margin-top: 35px;
  }

  @media (max-width: 420px) {
    font-size: 1em;
    padding: 6px 12px;
    margin-top: 15px;
    margin-bottom: 10px;
  }
}

.local-menu-button:hover {
  background-color: rgba(255, 0, 255, 1);
  box-shadow: 0 0 25px rgba(255, 0, 255, 1);
  transform: scale(1.1);
}

.local-menu-button:active {
  box-shadow: 0 0 10px rgba(0, 255, 255, 0.8);
  transform: scale(0.95);
}
